<template>
	<div class="tag-container">
		<v-row :align="alignmentValue" :justify="alignmentValue" class="tag-row">
			<template v-for="(tag, index) in tags">
				<v-col :key="index" cols="auto" :class="index === 0 && alignmentValue === 'start' ? '' : ''">
					<div class="tag">
						<v-icon v-if="tag.icon">{{ tag.icon }}</v-icon>
						<span>{{ tag.text }}</span>
					</div>
				</v-col>
				<v-col :key="index" v-if="index !== tags.length - 1" class="separator-col" cols="auto">
					<v-icon class="separator">mdi-circle-small</v-icon>
				</v-col>
			</template>
		</v-row>
	</div>
</template>

<script>
	export default {
		props: {
			tags: {
				type: Array,
				required: true,
			},
			alignment: {
				type: String,
				default: 'left',
			},
		},
		computed: {
			alignmentValue() {
				return this.alignment === 'left' ? 'start' : 'space-between'
			}
		}
	};
</script>
<style>
	.tag-container {
		width: 100%;
		overflow: hidden;
	}

	.tag-row {
		display: flex;
		flex-wrap: nowrap;
	}

	.tag {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	.separator {
		margin: 0 5px;
	}
</style>