<template>
  <v-app>
    <v-main>
			<v-col cols="12">
				<ListOfTags :tags="tags" :alignment="'justify'" />
			</v-col>
			<v-col cols="12" class="mt-5 pl-0">
				<ListOfTags :tags="tags" />
			</v-col>
			<v-col cols="6">
				<ListOfTags :tags="tags" :alignment="'justify'" />
			</v-col>
			<v-col cols="6" class="mt-5 pl-0">
				<ListOfTags :tags="tags" />
			</v-col>


    </v-main>
  </v-app>
</template>

<script>
import ListOfTags from './components/ListOfTags';

export default {
  name: 'App',

  components: {
		ListOfTags,
  },

  data: () => ({
    tags: [
			{ id: 1, text: 'text1' },
			{ id: 2, text: 'text2', icon: 'mdi-domain' },
			{ id: 3, text: 'text3sdcnsdjncjdnsnjcksdn', icon: 'mdi-email' },
			{ id: 4, text: 'text4', icon: 'mdi-call-split' },
			{ id: 5, text: 'text5' },
			{ id: 6, text: 'text6', icon: 'mdi-arrow-up-bold-box-outline' },
			{ id: 7, text: 'text7', icon: 'mdi-arrow-up-bold-box-outline' },
			{ id: 8, text: 'text8', icon: 'mdi-arrow-up-bold-box-outline' },
			{ id: 9, text: 'text9', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 10, text: 'text10', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 11, text: 'text11', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 12, text: 'text12', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 13, text: 'text13', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 14, text: 'text14', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 15, text: 'text15', icon: 'mdi-arrow-up-bold-box-outline' },
			// { id: 16, text: 'text16', icon: 'mdi-arrow-up-bold-box-outline' },
		]
  }),
};
</script>
